.chatbot-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
}

.chatbot-bubble i {
    font-size: 24px;
}
.cursor-pointer {
    cursor: pointer;
  }