<div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>
      <div class="modal-body">
        <a href="index.html">
          <img src="assets/images/logo.png" class="main-logo" alt="logo">
          <img src="assets/images/white-logo.png" class="white-logo" alt="logo">
        </a>
        <div class="sidebar-content">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua.</p>
          <div class="sidebar-btn">
            <a href="contact.html" class="default-btn">Let’s Talk</a>
          </div>
        </div>
        <div class="sidebar-contact-info">
          <h3>Contact Information</h3>
          <ul class="info-list">
            <li><i class="ri-phone-fill"></i> <a href="tel:9901234567">+990-123-4567</a></li>
            <li><i class="ri-mail-line"></i><a
                href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#a8c0cdc4c4c7e8dbc9c6dd86cbc7c5"><span
                  class="__cf_email__" data-cfemail="6109040d0d0e2112000f144f020e0c">[email&#160;protected]</span></a>
            </li>
            <li><i class="ri-map-pin-line"></i> 413 North Las Vegas, NV 89032</li>
          </ul>
        </div>
        <ul class="sidebar-social-list">
          <li>
            <a href="https://www.facebook.com/" target="_blank"><i class="flaticon-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.twitter.com/" target="_blank"><i class="flaticon-twitter"></i></a>
          </li>
          <li>
            <a href="https://linkedin.com/?lang=en" target="_blank"><i class="flaticon-linkedin"></i></a>
          </li>
          <li>
            <a href="https://instagram.com/?lang=en" target="_blank"><i class="flaticon-instagram"></i></a>
          </li>
        </ul>
        <div class="contact-form">
          <h3>Ready to Get Started?</h3>
          <form id="contactForm">
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" required data-error="Please enter your name"
                    placeholder="Your name">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" required data-error="Please enter your email"
                    placeholder="Your email address">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <input type="text" name="phone_number" class="form-control" required
                    data-error="Please enter your phone number" placeholder="Your phone number">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <textarea name="message" class="form-control" cols="30" rows="6" required
                    data-error="Please enter your message" placeholder="Write your message..."></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <button type="submit" class="default-btn">Send Message<span></span></button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="page-banner-area bg-2">
  <div class="container">
    <div class="page-banner-content">
      <h1>Events</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Pages</li>
        <li>Events</li>
      </ul>
    </div>
  </div>
</div>


<div class="contact-us-area pt-100 pb-70">
  <div class="container">

    <div class="contact-form">
      <h3>Add Event</h3>
      <form [formGroup]="formEvent" id="contactForm">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label>Event Name</label>
              <input formControlName="name" type="text" name="name" id="name" class="form-control" required
                data-error="Please enter event name">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label>Start Date</label>
              <input formControlName="date_debut" type="date" name="date" id="email" class="form-control" required
                data-error="Please enter start date">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label>Title</label>
              <input formControlName="titre" type="text" name="phone_number" id="phone_number" required data-error="Please enter Event title"
                class="form-control">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label>End Date</label>
              <input formControlName="date_fin" type="date" name="msg_subject" id="msg_subject" class="form-control" required
                data-error="Please enter end date">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label>Tutor's Name</label>
              <input formControlName="tutor" type="text" name="msg_subject" id="msg_subject" class="form-control" required
                data-error="Please enter tutor name">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label>Capacity</label>
              <input formControlName="nb_places" type="number" name="msg_subject" id="msg_subject" class="form-control" required
                data-error="Please enter Capacity">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label>Poster</label>
              <input formControlName="image" type="file" name="msg_subject" id="msg_subject" class="form-control" required
                data-error="Please enter Poster">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label>Description</label>
              <textarea formControlName="description" name="message" class="form-control" id="message" cols="30" rows="8" required
                data-error="Write your message"></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input name="gridCheck" value="I agree to the terms and privacy policy." class="form-check-input"
                type="checkbox" id="gridCheck" required>
              <label class="form-check-label" for="gridCheck">
                I agree to the <a href="terms-conditions.html">terms</a> and <a href="privacy-policy.html">privacy
                  policy</a>
              </label>
              <div class="help-block with-errors gridCheck-error"></div>
            </div>
    <button type="submit" class="default-btn btn" (click)="onSubmit()">Submit <i class="flaticon-next"></i></button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="events-area pt-100 pb-70">


  <div class="container">


    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6" *ngFor="let event of events">
        <div class="single-events-card style-4">
          <div class="events-image">
            <a href="events-details.html"><img src="data:image/png;base64, {{ event.image }}" alt="Image"></a>
            <div class="date">
              <!-- <span>{{ event.tutor | date }}</span> -->
              <span>{{ event.dateDebut | date }} </span>
              <p>{{ event.dateFin | date }}</p>
            </div>
          </div>
          <div class="events-content">
            <div class="admin">
              <p><a href="events-details.html"><i class="flaticon-student-with-graduation-cap"></i>{{ event.tutor }}</a></p>
            </div>
            <div >
              <h3>{{ event.description }}</h3>
              <button (click)="getQrCode(event.id)">
                <i class="fas fa-qrcode"></i> QR
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="paginations">
      <ul>
        <li><a href="events-details.html"><i class="flaticon-back"></i></a></li>
        <li><a href="events-details.html">01</a></li>
        <li><a href="events-details.html">02</a></li>
        <li><a href="events-details.html">03</a></li>
        <li><a href="events.html" class="active"><i class="flaticon-next"></i></a></li>
      </ul>
    </div>
  </div>
</div>