<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="container-fluid login-container">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <div class="card login-card">
<!--        <h3 class="text-center mb-4">Login</h3>-->
<!--        <hr class="divider">-->
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
          <p *ngFor="let msg of errorMsg">{{msg}}</p>
        </div>
        <div class="mb-4">
          <input [(ngModel)]="authRequest.email" type="email" class="form-control form-control-lg text-center" id="login" placeholder="EMAIL ADDRESS">
        </div>
        <div class="mb-3">
          <input [(ngModel)]="authRequest.password" type="password" class="form-control form-control-lg text-center" id="password" placeholder="PASSWORD">
        </div>
        <div class="d-flex justify-content-center">
<!--          <div class="divider mx-3"></div>-->
<!--          <p class="text-center fw-bold mx-3 mb-0">Or</p>-->
<!--          <div class="divider mx-3"></div>-->
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mb-4">
          <p class="lead fw-normal mb-0">Sign in with</p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>
        </div>
        <div class="text-center mt-4">
          <button (click)="login()" type="button" class="btn btn-primary btn-lg">Login</button>
          <p   class="small fw-bold mt-2 mb-0">Don't have an account?> <button (click)="register()" type="button" class="btn btn-link">Register</button></p>
        </div>
      </div>
    </div>
  </div>

</div>
