HELP.md
target/
!../.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
back-end/mvnw
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
front-end/*/dist
front-end/*/tmp
front-end/*/out-tsc
front-end/*/bazel-out

# Node
front-end/*/node_modules
front-end/*/npm-debug.log
front-end/*/yarn-error.log

# IDEs and editors
front-end/*/.idea/
front-end/*/.project
front-end/*/.classpath
front-end/*/.c9/
front-end/*/*.launch
front-end/*/.settings/
front-end/*/*.sublime-workspace

# Visual Studio Code
front-end/*/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
front-end/*/.history/*

# Miscellaneous
front-end/*/.angular/cache
front-end/*/.sass-cache/
front-end/*/connect.lock
front-end/*/coverage
front-end/*/libpeerconnection.log
front-end/*/testem.log
front-end/*/typings

# System files
front-end/*/.DS_Store
front-end/*/Thumbs.db
