.fa {
    font-size: 24px; /* Ajuster la taille de l'icône */
    color: #000; /* Ajuster la couleur de l'icône */
    cursor: pointer; /* Changer le curseur lors du survol */
}
/* styles.css ou styles.scss */
.share-icon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .share-icon:hover {
    transform: scale(1.1);
  }
  