<div class="events-area bg-f4f6f9 ptb-100">
    <div class="container">
    <div class="section-title">
    <h2>Events</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut elit tellus luctus nec ullamcorper mattis </p>
    </div>
    <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
    <div class="single-events-card">
    <div class="events-image">
    <a href="events-details.html"><img src="assets/images/events/events-1.jpg" alt="Image"></a>
    <div class="date">
    <span>28</span>
    <p>Mar</p>
    </div>
    </div>
    <div class="events-content">
    <div class="admin">
    <p><a href="events-details.html"><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar</a></p>
    </div>
    <a href="events-details.html"><h3>Planning And Facilitating Effective Meetings</h3></a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
    <div class="single-events-card">
    <div class="events-image">
    <a href="events-details.html"><img src="assets/images/events/events-2.jpg" alt="Image"></a>
    <div class="date">
    <span>29</span>
    <p>Mar</p>
    </div>
    </div>
    <div class="events-content">
    <div class="admin">
    <p><a href="events-details.html"><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar</a></p>
    </div>
    <a href="events-details.html"><h3>Regular WordPress Meetup In New Jersey, USA</h3></a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
    <div class="single-events-card">
    <div class="events-image">
    <a href="events-details.html"><img src="assets/images/events/events-3.jpg" alt="Image"></a>
    <div class="date">
    <span>30</span>
    <p>Mar</p>
    </div>
    </div>
    <div class="events-content">
    <div class="admin">
    <p><a href="events-details.html"><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar</a></p>
    </div>
    <a href="events-details.html"><h3>Monday Night Concert In Lake View,Mountain City</h3></a>
    </div>
    </div>
    </div>
    </div>
    <div class="more-health-care text-center">
    <p>Select From Hundreds of Options. <a href="health-care.html" class="read-more-btn active">More on Events<i class="flaticon-next"></i></a></p>
    </div>
    </div>
    </div>