.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
  .form-control {
    background-color: #f0f0f0; /* Grey background */
    color: #000000; /* Black text color */
    border: none;
  }
  .text-center {
    text-align: center;
  }
  .login-card {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .recaptcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust based on your needs */
  }
  .input-wrapper {
    padding: 10px;
    background-color: #f0f0f0; /* Grey background */
    border-radius: 4px; /* Rounded corners */
  }

  .form-control {
    border: none;
    box-shadow: none; /* Remove default Bootstrap shadow */
    outline: none; /* Remove focus outline */
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Custom focus style */
  }


}
