<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="text-center mb-4">Register</h2>
          <form (submit)="register()">
            <div class="mb-3">
              <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="email" placeholder="Email Address" required>
            </div>
            <div class="row mb-3">
              <div class="col">
                <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname" placeholder="First Name" required>
              </div>
              <div class="col">
                <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" placeholder="Last Name" required>
              </div>
            </div>
            <div class="mb-3">
              <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="mb-3">
              <input [(ngModel)]="registerRequest.mobile" type="tel" class="form-control" id="mobile" placeholder="Mobile" required>
            </div>
<!--            <ngx-recaptcha2 [siteKey]="siteKey">-->
<!--            </ngx-recaptcha2>-->
            <div class="mb-3">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
          </form>

          <div class="text-center">
            <p class="small">Already have an account? <a href="http://localhost:4200/login" class="link-danger">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
