<div class="container-fluid login-container">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <div class="card login-card">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
          <p *ngFor="let msg of errorMessage">{{msg}}</p>
        </div>
        <div class="mb-4">
          <input [(ngModel)]="email" style="border-radius: 28px" type="email" class="form-control form-control-lg text-center" id="email" placeholder="EMAIL ADDRESS">
        </div>
        <div class="recaptcha-container">
          <ngx-recaptcha2 [siteKey]="siteKey" [(ngModel)]="captchaChecked"></ngx-recaptcha2>
        </div>
        <div class="text-center mb-3 mt-1">
          <button (click)="onSubmit()" type="button" class="btn btn-primary btn-lg" [disabled]="!captchaChecked">Submit</button>
        </div>

      </div>
    </div>
  </div>
</div>
