<app-aside></app-aside>
<div style="display: flex; justify-content: center;">
    <form style=" margin-top: 100px; margin-left: 300px; width: 550px" #form="ngForm" (ngSubmit)="addOffre(form.value)">
        <h1>Ajout Offre de stage</h1>
        <br>
        <div class="form-group">
            <label>titre</label>
            <input type="text" class="form-control" name="titre" ngModel id="titre" required #inputname="ngModel">
            <small class="text text-danger" *ngIf="inputname?.errors?.['required'] && inputname.touched">title is required</small>
        </div>
        <div class="form-group">
            <label>Domaine</label>
            <select type="text" class="form-control" name="domaine" ngModel id="domaine" required #inputname="ngModel">
                <option value="Cloud">Cloud</option>
                <option value="Developement_mobile">Developement_mobile</option>
                <option value="Developement_web">Developement_web</option>
                <option value="Business_Intelligence">Business_Intelligence</option>
                <option value="Data_Science">Data_Science</option>
            </select>
            <small class="text text-danger" *ngIf="inputname?.errors?.['required'] && inputname.touched">domaine is required</small>

        </div>
        <div class="form-group">
            <label>description</label>
            <input type="text" class="form-control" name="description" ngModel id="description" required #inputname="ngModel">
            <small class="text text-danger" *ngIf="inputname?.errors?.['required'] && inputname.touched">description is required</small>

        </div>
        <div class="form-group">
            <label>date Publication</label>
            <input type="date" class="form-control" name="datePublication" ngModel id="datePublication" required #inputname="ngModel">
            <small class="text text-danger" *ngIf="inputname?.errors?.['required'] && inputname.touched">datePublication is required</small>

        </div>
        <div class="form-group">
            <label>date Limite</label>
            <input type="date" class="form-control" name="dateLimite" ngModel id="dateLimite" required #inputname="ngModel">
            <small class="text text-danger" *ngIf="inputname?.errors?.['required'] && inputname.touched">dateLimite is required</small>

        </div>
        <button type="submit"  [disabled]="form.invalid" class="btn btn-secondary">ADD</button>
        <br>
        <br>
        <br>
    </form>

</div>